@model IEnumerable<Q400Calculator.Models.CalculatorViewModels.PlaneViewModel>
@{
    ViewData["title"] = "Input";
}

<div>
    <div>
        <h1>Inputs</h1>
    </div>
    <div>
        <h2>Input Data Here</h2>
    </div>
    <div>
        <input id="weight" type="text" value=""/>
    </div>
    <div class="radio">
        <input id="TakeOff" type="radio" value="true" />
    </div>
    <div class="radio">
        <input id="Landing" type="radio" value="true" />
    </div>
</div>