@model Q400Calculator.Models.LandingData

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>LandingData</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="OAT" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OAT" class="form-control" />
                <span asp-validation-for="OAT" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="above20" />
                    <label asp-for="above20"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="flaps" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="flaps" class="form-control" />
                <span asp-validation-for="flaps" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="vapp" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="vapp" class="form-control" />
                <span asp-validation-for="vapp" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="vga" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="vga" class="form-control" />
                <span asp-validation-for="vga" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="vref" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="vref" class="form-control" />
                <span asp-validation-for="vref" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="weight" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="weight" class="form-control" />
                <span asp-validation-for="weight" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
